{% load static %}
<div>
	{% include 'whatsapp.html' %}
</div>
	<footer class="footer">
		<div class="parallax_background parallax-window" data-image-src="" data-parallax="scroll" style="background-color:darkblue;" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="newsletter">
						<div class="newsletter_title_container text-center">
							<div class="newsletter_title">Subscribe to our newsletter to get the latest trends & news</div>
							<div class="newsletter_subtitle">Join our database NOW!</div>
						</div>
						<div class="newsletter_form_container">
							<form method="POST" action="/subscribe" class="newsletter_form d-flex flex-md-row flex-column align-items-start justify-content-between" id="newsletter_form">
								<div class="d-flex flex-md-row flex-column align-items-start justify-content-between">
									{%csrf_token %}
									<div><input name="username" type="text" class="newsletter_input newsletter_input_name" id="newsletter_input_name" placeholder="Name" required="required"><div class="input_border"></div></div>
									<div><input name="email" type="email" class="newsletter_input newsletter_input_email" id="newsletter_input_email" placeholder="Your e-mail" required="required"><div class="input_border"></div></div>
								</div>
								<div><button class="newsletter_button">subscribe</button></div>
	
							</form>
							<div align="center">
							<h3 style="color: yellow;">{{emailsent}}</h3>
							<h3 style="color: lightgreen;">{{erroremailsent}}</h3>
						</div>
						</div>
					</div>
				</div>
			</div>
			<br/>
			<div class="row footer_contact_row">
				<div class="col-xl-10 offset-xl-1">
					<div class="row">
						<!-- Footer Contact Item -->
						<div class="col-xl-4 footer_contact_col">
							<div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
								<div class="footer_contact_icon"><img src="{% static '/assets/images/sign.svg' %}" alt=""></div>
								<div class="footer_contact_title">give us a call</div>
								<div class="footer_contact_list">
									<ul>
										<li>Office: +7978 987-61-39</li>
										<li>Office: +91 7888 761-959</li>
										<li>Mobile: 7839 032-177</li>
										<br/>
									</ul>
								</div>
							</div>
						</div>

						<!-- Footer Contact Item -->
						<div class="col-xl-4 footer_contact_col">
							<div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
								<div class="footer_contact_icon"><img src="{% static 'assets/images/trekking.svg' %}" alt=""></div>
								<div class="footer_contact_title">Book Your seat</div>
								<div class="footer_contact_list">
									<ul style="max-width:190px">
										<li><a href="https://wa.me/message/JWE2LGAQPPYMH1" target="new" style="color: white;">
											<h5>Message Us</h5></a></li>
									</ul>
								</div>
							</div>
						</div>

						<!-- Footer Contact Item -->
						<div class="col-xl-4 footer_contact_col">
							<div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
								<div class="footer_contact_icon"><img src="{% static 'assets/images/around.svg' %}" alt=""></div>
								<div class="footer_contact_title">send us a message</div>
								<div class="footer_contact_list">
									<ul>
										<li>Eduglobel9info@gmail.com</li>
									</ul>
								</div>
							</div>
						</div>

						<!-- Footer Contact Item -->
						<div class="col-xl-4 footer_contact_col">
							<div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
								<div class="footer_contact_icon"><img src="{% static 'assets/images/around.svg' %}" alt=""></div>
								<div class="footer_contact_title">send us a message</div>
								<div class="footer_contact_list">
									<ul>
										<li>Eduglobel9info@gmail.com</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
		<div class="col text-center"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <b style="color:cornsilk;">@kashCreations</b>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> </div>
<br/>
<div style="color:white" align="center">
	<b><strong>Developer Contact, <a href="/developer">Click here</a></strong></b>
</div>
</footer>