 <div class="container">
     <h2 style="color: darkblue;">
        MBBS Syllabus: At V.N.Karazin Kharkiv National University
     </h2>
     <br/>
        <div class="row">
          <div class="col">
                <table class="table" border="1" style="color: black;width: fit-content;">
                    <thead class="thead-dark">
                        <tr>
                            <th>First Year</th>
                            <th>Second Year</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Fundamentals of Psychology	</td>
                        <td>Human Anatomy</td>
                    </tr>
                    <tr>
                        <td>Medical Chemistry	</td>
                        <td>Philosophy
                        </td>
                    </tr>
                    <tr>
                        <td>Bioorganic Chemistry	</td>
                        <td>Histology
                        </td>
                    </tr>
                    <tr>
                        <td>Human Anatomy	</td>
                        <td>Physiology</td>
                    </tr>
                    <tr>
                        <td>Cytology	</td>
                        <td>Microbiology</td>
                    </tr>
                    <tr>
                        <td>Histology	</td>
                        <td>Biochemistry
                        </td>
                    </tr>
                    <tr>
                        <td>Embryology	</td>
                        <td>Immunology
                        </td>
                    </tr>
                    <tr>
                        <td>Elective Courses</td>
                        <td>Emergency Medicine
                        </td>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>Patient Care</td>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>Embryology</td>
                    </tr>
                    </tbody>
                </table>
          </div>
          <div class="col">
        
    <table class="table" border="1" style="color: black;width: fit-content;">
        <thead class="thead-dark">
            <tr>
                <th>Third Year</th>
                <th>Fourth Year</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>Pharmacology	</td>
            <td>Internal Medicine
            </td>
        </tr>
        <tr>
            <td>Pathomorphology</td>
            <td>Tuberculosis
            </td>
        </tr>
        <tr>
            <td>Pathophysiology</td>
            <td>Pediatrics
            </td>
        </tr>
        <tr>
            <td>Hygiene and Ecology</td>
            <td>Surgery</td>
        </tr>
        <tr>
            <td>Pediatrics	</td>
            <td>Obstetrics and Gynecology</td>
        </tr>
        <tr>
            <td>General Surgery	</td>
            <td>Urology
            </td>
        </tr>
        <tr>
            <td>Radiology	</td>
            <td>Ophthalmology
            </td>
        </tr>
        <tr>
            <td> Internal Medicine	</td>
            <td>Neurology
            </td>
        </tr>
        <tr>
            <td> Elective courses	</td>
            <td>Medical Psychology
            </td>
        </tr>
        <tr>
            <td>-</td>
            <td>Narcology, Psychiatry</td>
        </tr>
        <tr>
            <td>-</td>
            <td>Forensic Medicine</td>
        </tr>
        <tr>
            <td>-</td>
            <td>Biostatistics</td>
        </tr>
        <tr>
            <td>-</td>
            <td>Social Medicine</td>
        </tr>
        </tbody>
    </table>
          </div>
          <div class="col">
            <table class="table" border="1" style="color: black;width: fit-content;">
                <thead class="thead-dark">
                    <tr>
                        <th>Fifth Year</th>
                        <th>Sixth Year</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Infectious Diseases</td>
                    <td>Internal Medicine
                    </td>
                </tr>
                <tr>
                    <td>Internal Medicine</td>
                    <td>Surgery
                    </td>
                </tr>
                <tr>
                    <td>Epidemiology</td>
                    <td>Pediatrics
                    </td>
                </tr>
                <tr>
                    <td>Oncology</td>
                    <td>Obstetrics</td>
                </tr>
                <tr>
                    <td>Pediatrics	</td>
                    <td>General Practice</td>
                </tr>
                <tr>
                    <td>Medical genetics	</td>
                    <td>Social medicine
                    </td>
                </tr>
                <tr>
                    <td>Social Medicine	</td>
                    <td>Infectious Diseases
                    </td>
                </tr>
                <tr>
                    <td> Surgery	</td>
                    <td>Oncology
                    </td>
                </tr>
                <tr>
                    <td> Traumatology	</td>
                    <td>Elective Courses
                    </td>
                </tr>
                <tr>
                    <td>Obstetrics</td>
                    <td>-</td>
                </tr>
                <tr>
                 
                    <td>Gynecology</td>
                    <td>-</td>
                </tr>
                <tr>
                  
                    <td>Clinical Immunology</td>
                    <td>-</td>
                </tr>
                <tr>
            
                    <td>Neurosurgery</td>
                    <td>-</td>
                </tr>
                <tr>
                   
                    <td>Fundamentals of Stomatology</td>
                    <td>-</td>
                </tr>
                <tr>
                    
                    <td>Emergency Medicine</td>
                    <td>-</td>
                </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
</div>


