{% load static %}

        <!-- Intro -->
	<div  align="center">
		<img src="{% static '/assets/images/my_folder/whatweoffer.jpg'%}" width="410px">
	</div>

	<div class="intro">
		<div class="intro_background"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="intro_container">
						<div class="row">

							<!-- Intro Item -->
							<div class="col-lg-4 intro_col">
								<div class="intro_item d-flex flex-row align-items-end justify-content-start">
									<div class="intro_icon"><img src="{% static '/assets/images/beach.svg' %}" alt=""></div>
									<div class="intro_content">
										<div class="intro_title">Top Choices</div>
										<div class="intro_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
									</div>
								</div>
							</div>

							<!-- Intro Item -->
							<div class="col-lg-4 intro_col">
								<div class="intro_item d-flex flex-row align-items-end justify-content-start">
									<div class="intro_icon"><img src="{% static '/assets/images/wallet.svg' %}" alt=""></div>
									<div class="intro_content">
										<div class="intro_title">The Best Prices</div>
										<div class="intro_subtitle"><p>Sollicitudin mauris lobortis in.</p></div>
									</div>
								</div>
							</div>

							<!-- Intro Item -->
							<div class="col-lg-4 intro_col">
								<div class="intro_item d-flex flex-row align-items-end justify-content-start">
									<div class="intro_icon"><img src="{% static '/assets/images/suitcase.svg' %}" alt=""></div>
									<div class="intro_content">
										<div class="intro_title">Amazing Services</div>
										<div class="intro_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
									</div>
								</div>
							</div>
							<div id="x"></div>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</div>

    
        <div class="news" id="news">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="news_container">
                            
                            <!-- News Post -->
                            <div class="news_post d-flex flex-md-row flex-column align-items-start justify-content-start">
                                <div class="news_post_image"><img src="{% static '/assets/images/news_1.jpg' %}" alt=""></div>
                                <div class="news_post_content">
                                    <div class="news_post_date d-flex flex-row align-items-end justify-content-start">
                                        <div>02</div>
                                        <div>june</div>
                                    </div>
                                    <div class="news_post_title"><a href="#">Explore</a></div>
                                    <div class="news_post_category">
                                        <ul>
                                            <li><a href="#">lifestyle & travel</a></li>
                                        </ul>
                                    </div>
                                    <div class="news_post_text">
                                        <p>Educating the student and their family about the country and university that has been selected in the first step. Providing the student with every necessary informations.</p>
                                    </div>
                                </div>
                            </div>
        
                            <!-- News Post -->
                            <div class="news_post d-flex flex-md-row flex-column align-items-start justify-content-start">
                                <div class="news_post_image"><img src="{% static '/assets/images/news_2.jpg' %}" alt=""></div>
                                <div class="news_post_content">
                                    <div class="news_post_date d-flex flex-row align-items-end justify-content-start">
                                        <div>01</div>
                                        <div>june</div>
                                    </div>
                                    <div class="news_post_title"><a href="#">Educate</a></div>
                                    <div class="news_post_category">
                                        <ul>
                                            <li><a href="#">Persoanlity developement</a></li>
                                        </ul>
                                    </div>
                                    <div class="news_post_text">
                                        <p>Educating the student and their family about the country and university that has been selected in the first step. Providing the student with every necessary information.</p>
                                    </div>
                                </div>
                            </div>
        
                            <!-- News Post -->
                            <div class="news_post d-flex flex-md-row flex-column align-items-start justify-content-start">
                                <div class="news_post_image"><img src="{% static 'assets/images/news_3.jpg' %}" alt=""></div>
                                <div class="news_post_content">
                                    <div class="news_post_date d-flex flex-row align-items-end justify-content-start">
                                        <div>29</div>
                                        <div>may</div>
                                    </div>
                                    <div class="news_post_title"><a href="#">Empower</a></div>
                                    <div class="news_post_category">
                                        <ul>
                                            <li><a href="#">lifestyle & travel</a></li>
                                        </ul>
                                    </div>
                                    <div class="news_post_text">
                                        <p>With Good Education, comes empowerment, giving young Individuals of our society a chance to move forward, in turn making the world a better, safer, healthier place.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <!-- News Sidebar -->
                    <div class="col-xl-4">
                        <div>
                            <img src="{% static '/assets/images/whoweare.jpg'%}" width="350px" height="100px">
                        </div>
                        <br/>
                        <iframe width="450" height="450"
                            src="https://www.youtube.com/embed/tgbNymZ7vqY?playlist=tgbNymZ7vqY&loop=1">
                            </iframe>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        
        
        <hr style="height:2px;border-width:0;color:gray;background-color:gray;margin-right: 50px;margin-left: 50px;">
        