{%load static%}
<div >
  <h2 style="color: darkblue;" >
    Faculties at the Poltava State Medical University

  </h2>
  <br/>
</div>
<div class="card-deck" style="border-radius: 50%;">
    <div class="card">
      <img class="card-img-top" src="{% static 'assets/images/my_folder/faculty_medicine.jpg'%}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="color: darkblue;" >Faculty of Medicine</h5>
        <p class="card-text">
          Medicine studies at Poltava Medical Academy is conducted exactly according to international 
          standard of medicine study. 
          Medicine study in Poltava is modernized with highly professional teaching staff and advanced curriculum.
      </p>
    </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="{% static 'assets/images/my_folder/faculty_dentist.jpg'%}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="color: darkblue;" >Faculty of Dentistry</h5>
        <p class="card-text">
            Dentistry faculty at Poltava university has skilled teaching faculty and advanced laboratories. 
            Dentistry department of the university is one of the best department of dentistry in Europe.    
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="{% static 'assets/images/my_folder/faculty_pedia.jpg'%}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="color: darkblue;" >Faculty of Pediatrics</h5>
        <p class="card-text">
          At the paediatric faculty of Poltava University students master knowledge at many chairs during 6
           years of study,
           where they study anatomy, pathology, physiology, and hygiene of childish age.
        </p>
      </div>
    </div>
  </div>
  <br/>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="{% static 'assets/images/my_folder/faclty_nurse.jpeg'%}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="color: darkblue;" >Faculty of Nursing</h5>
        <p class="card-text">
          The duration of Nursing course is 2 years for full time and 3 years for part time. 
          The graduates can occupy administrative posts and work as medical nurses of different profile.
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="{% static '/assets/images/my_folder/faculty_postgraduate.jpg'%}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="color: darkblue;" >Faculty of Postgraduate Education</h5>
        <p class="card-text">
          The main objective of the postgraduate training is to allow general
           practitioners to improve their skills for further certification and the 
           students of medical institutions to continue their education.

 
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="{% static 'assets/images/my_folder/faclty_pharmacy.jpg'%}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="color: darkblue;" >Faculty of Pharmacy</h5>
        <p class="card-text">
          It is a five year course awarding the “Bachelor of Pharmacy” or “Pharmacist” degree to students. 
          The prime 
          departments are: pharmacology, in-organic chemistry, biology, analytical, physical and organic chemistry.
        </p>
      </div>
    </div>
  </div>