<div class="container">
     <h2 style="color: darkblue;">
        Ternopil National Medical University - MBBS Syllabus
     </h2>
     <br/>
        <div class="row">
          <div class="col">
                <table class="table" border="1" style="color: black;width: fit-content;">
                    <thead class="thead-dark">
                        <tr>
                            <th>First Year</th>
                            <th>Second Year</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Human Anatomy	</td>
                        <td>Normal Physiology</td>
                    </tr>
                    <tr>
                        <td>History of Medicine</td>
                        <td>Microbiology
                        </td>
                    </tr>
                    <tr>
                        <td>Latin Language and Medical Terminology</td>
                        <td>Philosophy
                        </td>
                    </tr>
                    <tr>
                        <td>Histology, Cytology, and Embryolog	</td>
                        <td>Economics</td>
                    </tr>
                    <tr>
                        <td>Bio-inorganic, Information science, and Medical Equipment</td>
                        <td>Russian language</td>
                    </tr>
                    <tr>
                        <td>Sociology</td>
                        <td>Physical training
                        </td>
                    </tr>
                    <tr>
                        <td>Medical Biology, Genetics, and Parasitology</td>
                        <td>Logics
                        </td>
                    </tr>
                    <tr>
                        <td>Politology</td>
                        <td>--
                        </td>
                    </tr>
                    <tr>
                        <td>Russian Language</td>
                        <td>--</td>
                    </tr>
                    </tbody>
                </table>
          </div>
          <div class="col">
        
    <table class="table" border="1" style="color: black;width: fit-content;">
        <thead class="thead-dark">
            <tr>
                <th>Third Year</th>
                <th>Fourth Year</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>Bases of psychology and pedagogic</td>
            <td>Obstetrics and gynecology
            </td>
        </tr>
        <tr>
            <td>Social medicine and organization of health protection services	</td>
            <td>TRemedial gymnastics and sport medicine
                uberculosis
            </td>
        </tr>
        <tr>
            <td>Pharmacology and Medical dispensing of medicine	</td>
            <td>Dermatovenerol diseases
            </td>
        </tr>
        <tr>
            <td>Pathological physiology	</td>
            <td>Psychiatry, narcology and Medical psychology
            </td>
        </tr>
        <tr>
            <td>Pediatrics	</td>
            <td>Obstetrics and Gynecology</td>
        </tr>
        <tr>
            <td>Propaedeutic of children diseases with the care of children	</td>
            <td>Nervous diseases

            </td>
        </tr>
        <tr>
            <td>Radial diagnostics and radial therapy</td>
            <td>Faculty pediatrics with Medical genetics
            </td>
        </tr>
        <tr>
            <td> General surgery with anesthesiology and cafe of patients		</td>
            <td>Radiative medicine

            </td>
        </tr>
        <tr>
            <td>Topographic anatomy		</td>
            <td>Phthisiatry (Tuberculosis)

            </td>
        </tr>
        <tr>
            <td>Operative surgery	</td>
            <td>Endocrinology

            </td>
        </tr>
        <tr>
            <td>Propaedeutic of inner diseases with the care of patients	</td>
            <td>Facultative therapy with physiotherapy


            </td>
        </tr>
        <tr>
            <td>General hygiene	</td>
            <td>Economics of health protection


            </td>
        </tr>
        <tr>
            <td>-</td>
            <td>Urology</td>
        </tr>
        <tr>
            <td>-</td>
            <td>Faculty Surgery</td>
        </tr>
        <tr>
            <td>-</td>
            <td>Homeopathy</td>
        </tr>
        </tbody>
    </table>
          </div>
          <div class="col">
            <table class="table" border="1" style="color: black;width: fit-content;">
                <thead class="thead-dark">
                    <tr>
                        <th>Fifth Year</th>
                        <th>Sixth Year</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Ophthalmology	</td>
                    <td>Hygiene

                    </td>
                </tr>
                <tr>
                    <td>ENT	</td>
                    <td>Social medicine and organization of health protection</td>
                </tr>
                <tr>
                    <td>Hospital therapy and military field therapy	</td>
                    <td>Economics of health protection

                    </td>
                </tr>
                <tr>
                    <td>Occupational diseases	</td>
                    <td>Internal medicine </td>
                </tr>
                <tr>
                    <td>Traumatology and orthopedic	</td>
                    <td>Infectious diseases
                    </td>
                </tr>
                <tr>
                    <td>Hospital podiatry	</td>
                    <td>Tropical diseases

                    </td>
                </tr>
                <tr>
                    <td>Gynecology	</td>
                    <td>Pediatrics

                    </td>
                </tr>
                <tr>
                    <td> Hospital surgery	</td>
                    <td>Oncology
                    </td>
                </tr>
                <tr>
                    <td> Traumatology	</td>
                    <td>Elective Courses
                    </td>
                </tr>
                <tr>
                    <td>Neurosurgery</td>
                    <td>Clinical pharmacology
                    </td>
                </tr>
                <tr>
                 
                    <td>Pediatrics surgery	</td>
                    <td>Children infection diseases</td>
                </tr>
                <tr>
                  
                    <td>Infectious and tropical diseases</td>
                    <td>Obstetrics and gynecology
                    </td>
                </tr>
                <tr>
            
                    <td>Epidemiology and military epidemiology	</td>
                    <td>Pediatric surgery
                    </td>
                </tr>
                <tr>
                   
                    <td>Children infectious diseases	</td>
                    <td>Reanimatology (intensive care)</td>
                </tr>
                <tr>
                    
                    <td>Oncology</td>
                    <td>Surgical diseases
                    </td>
                </tr>
                <tr>
                    
                    <td>Urgent states medicine of catastrophes	</td>
                    <td>Clinical immunology and allergology

                    </td>
                </tr>
                <tr>
                    
                    <td>Forensic medicine	</td>
                    <td>Neurosurgery
                    </td>
                </tr>
                <tr>
                    
                    <td>Basics of law	</td>
                    <td>Therapy

                    </td>
                </tr>
                <tr>
                    
                    <td>Military field surgery	</td>
                    <td>--
                    </td>
                </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
</div>
