{% load static %}
<div class="testimonials" id="testimonials">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/static/assets/images/my_folder/testimonial.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle">Dream to study abroad</div>
                <div class="section_title"><h2>What our students say</h2></div>
            </div>
        </div>
        <div class="row testimonials_row">
            <div class="col">
                <!-- Testimonials Slider -->
                <div class="testimonials_slider_container">
                    <div class="owl-carousel owl-theme testimonials_slider">
                        <!-- Slide -->
                        <div class="owl-item text-center">
                            <div class="testimonial">
                                "Trustworthy organization with total transparency in fees breakdown and other structures.
                                Today I am a student of one of the best medical university<br/>
                                All thanks to them"
                            </div>
                            <div class="testimonial_author">
                                <div class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                                    <div class="col-xl-3 col-md-6 team_col">
                                        <div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
                                            <div class="team_image"><img src="{% static 'assets/images/my_folder/feedback-4.jpg' %}" alt=""></div>
                                            <div class="team_content">
                                                <div class="team_title"></div>
                                                <div class="team_text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div><h2>Jagriti</h2>
                                    <h4>Bhopal, India</h4>
                                    <h5>Ternopil Medical College</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Slide -->
                        <div class="owl-item text-center">
                            <div class="testimonial">
                                "
                                If u r looking for MBBS abroad then I would say Eduglobel9 is the best consultancy. 
                                From giving all the information about the university to taking u safely to that university is the best service they provide 
                                and the fees charged by them is also very low compared to any other consultancies. ""					
                            </div>
                            <div class="testimonial_author">
                                <div class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                                    <div class="col-xl-3 col-md-6 team_col">
                                        <div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
                                            <div class="team_image"><img src="{% static 'assets/images/my_folder/feedback_5.jpg' %}" alt=""></div>
                                            <div class="team_content">
                                                <div class="team_title"></div>
                                                <div class="team_text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div><h2>Sonakshi</h2>
                                    <h4>Lucknow, Uttar Pradesh, India</h4>
                                    <h5>Usma Poltava</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                        <!-- Slide -->
                        <div class="owl-item text-center">
                            <div class="testimonial">
                                
                    "If you guys want take admission in abroad safely Eduglobel9 consultancy give
                     outstanding job i take admission through Russiafeels. I would say Eduglobel9 is the best consultancy. 
                     From giving all the information 
                    about the university to taking u safely to that university is the best service.""					
                            </div>
                            <div class="testimonial_author">
                                <div class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                                    <div class="col-xl-3 col-md-6 team_col">
                                        <div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
                                            <div class="team_image"><img src="{% static 'assets/images/my_folder/avatar_1.jpg' %}" alt=""></div>
                                            <div class="team_content">
                                                <div class="team_title"></div>
                                                <div class="team_text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div><h2>Chandani</h2>
                                    <h4>Gorakhpur, Uttar Pradesh, India</h4>
                                    <h5>IFNMU</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Slide -->
                        <div class="owl-item text-center">
                            <div class="testimonial">
                            "It provides information about every university in ead country.They take least consultancy charge and provides 
                            best services." 	
                            </div>
                            <div class="testimonial_author">
                                <div class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                                    <div>
                                        <div class="testimonial_author">
                                            <div class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                                                <div class="col-xl-3 col-md-6 team_col">
                                                    <div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
                                                        <div class="team_image"><img src="{% static 'assets/images/my_folder/IMG_8061.jpg' %}" alt=""></div>
                                                        <div class="team_content">
                                                            <div class="team_title"></div>
                                                            <div class="team_text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                
                                                <div><h2>Sandeep Singh</h2>
                                                <h4>Gorakhpur, Uttar Pradesh, India</h4>
                                                <h5>VNMU Ukraine</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                        </div>

                        <!-- Slide -->
                        <div class="owl-item text-center">
                            <div class="testimonial">
                            
                                
                    "would definitely recommend Eduglobel9 if you are looking for MBBS abroad.
                    They provide exact information about universities and they will tell what is 
                    best for you. Many students have doubts regarding MBBS abroad but no need to
                     worry because they will clear your each and every doubt regarding admissions, 
                     hostels etc."
                                        
                            </div>
                            <div class="testimonial_author">
                                <div class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">

                                    <div>
                                        <div class="testimonial_author">
                                            <div class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                                                <div class="col-xl-3 col-md-6 team_col">
                                                    <div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
                                                        <div class="team_image"><img src="{% static 'assets/images/my_folder/avatar_3.jpg' %}" alt=""></div>
                                                        <div class="team_content">
                                                            <div class="team_title"></div>
                                                            <div class="team_text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                
                                                <div><h2>Saurabh Manna</h2>
                                                <h4>West Bengal, India</h4>
                                                <h5>USMA, Poltava</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

