{%load static%}
<div class="destinations" id="destinations" style="background-color: azure;" style="width: fit-content;"> 
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<div class="section_subtitle">Dream to persue <b>education</b> in Ukraine</div>
				<div class="section_title"><h2 style="color: darkblue;">Welcome to Eduglobel9</h2></div>
			</div>
		</div>
		<div class="row destinations_row">
			<div class="col">
				<div class="destinations_container item_grid">

					<!-- Destination -->
					<div class="destination item">
						<div class="destination_image" id="dest_img">
							<img src="{% static '/assets/images/my_folder/IMG_8051.jpg' %}" alt="" height="240px">
							
						</div>
						<div class="destination_content">
							<div class="destination_title"><a href="#dest_img">MBBS Abroad</a></div>
							<div class="destination_subtitle"><p>Medical education abroad is a great opportunity for students who were unable to secure a seat for themselves in India at affordable prices along with great quality education</p></div>
						
						</div>
					</div>

					<!-- Destination -->
					<div class="destination item">
						<div class="destination_image">
							<img src="{% static '/assets/images/my_folder/IMG_8050.jpg' %}" height="240px" width="400px" alt="">
						</div>
						<div class="destination_content">
							<div class="destination_title"><a href="#dest_img">Travel</a></div>
							<div class="destination_subtitle"><p>Rich cultural heritage and great natural variety place. Ukraine is among the most popular tourist destinations in the world. We provide all the travel documentation for students and their family.</p></div>
							
						</div>
					</div>

					<!-- Destination -->
					<div class="destination item">
						<div class="destination_image">
							<img src="{% static '/assets/images/my_folder/IMG_8052.jpg' %}"  alt="">
						</div>
						<div class="destination_content">
							<div class="destination_title"><a href="#dest_img">Complete Assistance</a></div>
							<div class="destination_subtitle"><p>On every step of the process be assured of full assistance from our team. From choosing a University to getting the students their hostel rooms. And till they complete their education.</p></div>
							
						</div>
					</div>

					<!-- Destination -->
					<div class="destination item">
						<div class="destination_image">
							<img src="{% static '/assets/images/my_folder/IMG_8049.jpg' %}" alt="">
						</div>
						<div class="destination_content">
							<div class="destination_title"><a href="#dest_img">Professional Counselling</a></div>
							<div class="destination_subtitle"><p>We are happy to guide you through your endeavors by providing you free of cost genuine counseling. We keep in mind the personal needs of every student and help them select a University, which is best suitable for them.</p></div>
							
						</div>
					</div>

					<!-- Destination -->
					<div class="destination item">
						<div class="destination_image">
							<img src="{% static '/assets/images/my_folder/IMG_7990.jpeg' %}" alt="" height="240px">
						</div>
						<div class="destination_content">
							<div class="destination_title"><a href="#dest_img">Admissions</a></div>
							<div class="destination_subtitle"><p>We boast a 100% success rate in placing students into the University of their choice. We work along with more then 25 Universities in Ukraine, all of which are recognized by all major international Medical Councils, including WHO, MCI(NMC),etc.</p></div>
							
						</div>
					</div>

					<!-- Destination -->
					<div class="destination item">
						<div class="destination_image">
							<img src="{% static '/assets/images/my_folder/IMG_8053.jpg' %}" alt="">
						</div>
						<div class="destination_content">
							<div class="destination_title"><a href="#dest_img">On Campus Support</a></div>
							<div class="destination_subtitle"><p>One of the major advantages that we provide to students is our 24/7 on campus support. There is always a team of senior students and staff members who cater to all the problems that students may face.</p></div>
							
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.destination_image:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
</style>
<hr style="height:2px;border-width:0;color:gray;background-color:gray;margin-right: 50px;margin-left: 50px;">
