{% load static %}
<div>
    <div align="center">
        <h2 style="color: darkblue;">
            MBBS Syllabus of VNMU: General Medicine
        </h2>
    </div>
    <br/>
    <div align="center">
<table class="table" border="1" style="width: fit-content;">
    <thead class="thead-dark">
        <tr align="center" >
            <th colspan="2"  >Semester I	</th>
            <th colspan="2"  >Semester II	</th>
        </tr>
    </thead>
    <tbody style="color: black;">
        <tr>
            <td>Human anatomy</td>
            <td>Biochemistry</td>
            <td>Medical Chemistry</td>
            <td>Biophysics </td>
        </tr>
        <tr>
            <td>Psychology</td>
            <td>Sociology</td>
            <td>Medical biology</td>
            <td>Histology </td>
        </tr>
        <tr>
            <td>Ukrainian language</td>
            <td>Latin Language</td>
            <td>Culturology</td>
            <td>Economics </td>
        </tr>
        <tr>
            <td>History of Medicine</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    <thead class="thead-dark">
    <tr align="center" >
        <th colspan="2"  >Semester III	</th>
        <th colspan="2"  >Semester IV	</th>
    </tr>
</thead>
<tbody style="color: black;">
    <tr>
        <td>Physiology</td>
        <td>Biochemistry</td>
        <td>Human anatomy	</td>
        <td>Histology </td>
    </tr>
    <tr>
        <td>operative Surgery</td>
        <td>informatics</td>
        <td>Microbiology</td>
        <td>General Surgery</td>
    </tr>
    <tr>
        <td>Pediatrics</td>
        <td>Emergency medicine</td>
        <td>internal medicine</td>
        <td>Elective Course</td>
    </tr>
    <tr>
        <td></td>
        <td>Philosophy</td>
        <td></td>
        <td></td>
    </tr>
</tbody>
<thead class="thead-dark">
    <tr align="center" >
        <th colspan="2"  >Semester V		</th>
        <th colspan="2"  >Semester VI	</th>
    </tr>
</thead>
<tbody style="color: black;">
    <tr>
        <td>Microbiology</td>
        <td>Pathology</td>
        <td>Pharmacology</td>
        <td>Operative surgery</td>
    </tr>
    <tr>
        <td>Radiology</td>
        <td>Pediatrics</td>
        <td>General Surgery</td>
        <td>KROK - state exam 1</td>
    </tr>
    <tr>
        <td>Medical hygiene</td>
        <td>Psychology</td>
        <td>Internal disease</td>
        <td>Path Physiology</td>
    </tr>
    <tr>
        <td>Elective course</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</tbody>
<thead class="thead-dark">
    <tr align="center" >
        <th colspan="2"  >Semester VII			</th>
        <th colspan="2"  >Semester VIII		</th>
    </tr>
</thead>
<tbody style="color: black;">
    <tr>
        <td>Internal Medicine</td>
        <td>Urology</td>
        <td>Tuberculosis</td>
        <td>Pediatrics</td>
    </tr>
    <tr>
        <td>General surgery</td>
        <td>Psychiatry</td>
        <td>Ophthalmology</td>
        <td>Biostatistics</td>
    </tr>
    <tr>
        <td>Endocrinology</td>
        <td>Obs & Gyn</td>
        <td>Sports medicine</td>
        <td>Neurology</td>
    </tr>
    <tr>
        <td>ENT</td>
        <td>Elective Course</td>
        <td>Community Medicine</td>
        <td>Forensics</td>
    </tr>
    <tr>
        <td>Dermatology</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</tbody>
<thead class="thead-dark">
    <tr align="center" >
        <th colspan="2"  >Semester IX			</th>
        <th colspan="2"  >Semester X	</th>
    </tr>
</thead>
<tbody style="color: black;">
    <tr>
        <td>General surgery</td>
        <td>Infectious diseases</td>
        <td>Epidemiology</td>
        <td>Pediatrics</td>
    </tr>
    <tr>
        <td>Internal Medicine</td>
        <td>Obs&Gyn</td>
        <td>Community medicine</td>
        <td>Oncology</td>
    </tr>
    <tr>
        <td>Endocrinology</td>
        <td>Obs & Gyn</td>
        <td>Sports medicine</td>
        <td>Neurology</td>
    </tr>
    <tr>
        <td>Genetics</td>
        <td>Immunology</td>
        <td>Autopsy</td>
        <td>Dentistry</td>
    </tr>
    <tr>
        <td>Anesthesiology</td>
        <td>Traumatology</td>
        <td>Nuclear medicine</td>
        <td>Pediatric Surgery</td>
    </tr>
    <tr>
        <td>Elective course</td>
        <td>Neurosurgery</td>
        <td>Forensics</td>
        <td>Nuclear medicine</td>
    </tr>
    <tr>
        <td>Intensive medicine</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</tbody>
<thead class="thead-dark">
    <tr align="center" >
        <th colspan="2"  >Semester XI	</th>
        <th colspan="2"  >Semester XII	</th>
    </tr>
</thead>
<tbody style="color: black;">
    <tr>
        <td>Family medicine</td>
        <td>Hygiene</td>
        <td>Surgery</td>
        <td>Pediatric surgery</td>
    </tr>
    <tr>
        <td>Internal medicine</td>
        <td>Pediatrics</td>
        <td>Community Medicine</td>
        <td>Infectious disease</td>
    </tr>
    <tr>
        <td>Elective course</td>
        <td>Tuberculosis</td>
        <td>Obs & Gyn</td>
        <td></td>
    </tr>
</tbody>
</table>
</div>
</div>
<br/>
<div>
    <div>
    <h2 style="color: darkblue">Accreditation
    </h2>
</div>
    <div style="margin-left: 19px;" >
        <p style="color: black;"> 
            <img src="{% static '/assets/images/my_folder/correct.png'%}" height="20" width="20">
            Ministry of Education and Science of Ukraine


        </p>
     </div>
     <div style="margin-left: 19px;" >
        <p style="color: black;"> 
            <img src="{% static '/assets/images/my_folder/correct.png'%}" height="20" width="20">
            Ministry of Foreign Affairs of Ukraine
        </p>
     </div>
     <div style="margin-left: 19px;" >
        <p style="color: black;"> 
            <img src="{% static '/assets/images/my_folder/correct.png'%}" height="20" width="20">
            Ministry of Health of Ukraine

     </div>
</div>
<br/>
<div>
    <div>
    <h2 style="color: darkblue">International Recognition of University
    </h2>
</div>
    <div style="margin-left: 19px;" >
        <p style="color: black;"> 
            <img src="{% static '/assets/images/my_folder/correct.png'%}" height="20" width="20">
            European Credit Transfer and Accumulation System (ECTS)

        </p>
     </div>
     <div style="margin-left: 19px;" >
        <p style="color: black;"> 
            <img src="{% static '/assets/images/my_folder/correct.png'%}" height="20" width="20">
            Medical Council of India
        </p>
     </div>
     <div style="margin-left: 19px;" >
        <p style="color: black;"> 
            <img src="{% static '/assets/images/my_folder/correct.png'%}" height="20" width="20">
            World Health Organization

     </div>
</div>
<br/>
<div>
    <div>
    <h2 style="color: darkblue">Courses at Vinnitsa National Medical University

    </h2>
</div>
    <div style="margin-left: 19px;" >
        <h4 style="color: darkblue;">
            <img src="{%static 'assets/images/my_folder/one.jpg'%}" width="50" height="50">
            Medical Faculty
        </h4>
            <div style="margin-left: 19px;" >
                <p style="color: black;"> 
                    <img src="{% static '/assets/images/my_folder/correct.png'%}" height="20" width="20">
                    The faculty consists of 38 departments including 23 clinical and 15 theoretical divisions.

        
                </p>
             </div>
             <div style="margin-left: 19px;" >
                <p style="color: black;"> 
                    <img src="{% static '/assets/images/my_folder/correct.png'%}" height="20" width="20">
                    In these departments, there are 5 fundamental profiles, 4 humanitarian and socio-economic profiles and 31 are professionally oriented.

                </p>
             </div>
             <div style="margin-left: 19px;" >
                <p style="color: black;"> 
                    <img src="{% static '/assets/images/my_folder/correct.png'%}" height="20" width="20">
                  Also, there are 469 teachers in the department including 269 professors, 336 have a medical degree out of which 67 are the candidates of science, 4 honored scientist and technician of Ukraine.
        
             </div>
        </div>
        <br/>
    </div>

    <div style="margin-left: 19px;" >
        <h4 style="color: darkblue;">
            <img src="{%static 'assets/images/my_folder/two.jpg'%}" width="50" height="50">
            Dentistry Faculty
        </h4>
            <div style="margin-left: 19px;" >
                <p style="color: black;"> 
                    <img src="{% static '/assets/images/my_folder/correct.png'%}" height="20" width="20">
                    The faculty of Dentistry was established at VNMU in the year 1994.


        
                </p>
             </div>
             <div style="margin-left: 19px;" >
                <p style="color: black;"> 
                    <img src="{% static '/assets/images/my_folder/correct.png'%}" height="20" width="20">
                    The Ministry of Education accredited the licensed admission to the first year with 120 number of students.


                </p>
             </div>
             <div style="margin-left: 19px;" >
                <p style="color: black;"> 
                    <img src="{% static '/assets/images/my_folder/correct.png'%}" height="20" width="20">
                    During the first 4 years of Dentistry, the departments taught are therapeutic dentistry, pediatric dentistry, surgical stomatology, orthopedic stomatology.

        
             </div>
             <div style="margin-left: 19px;" >
                <p style="color: black;"> 
                    <img src="{% static '/assets/images/my_folder/correct.png'%}" height="20" width="20">
                    Postolovskaya T.T. was the first Dean appointed to Dentistry faculty from 1994 onwards.


        
             </div>

            </div>
        <br/>
    </div>


    <div style="margin-left: 19px;" >
        <h4 style="color: darkblue;">
            <img src="{%static 'assets/images/my_folder/three.jpg'%}" width="50" height="50">
            Pharmaceutical Faculty

        </h4>
            <div style="margin-left: 19px;" >
                <p style="color: black;"> 
                    <img src="{% static '/assets/images/my_folder/correct.png'%}" height="20" width="20">
                    The Pharmaceutical faculty have 300 students in the field of clinical pharmacy from various countries abroad.



        
                </p>
             </div>
             <div style="margin-left: 19px;" >
                <p style="color: black;"> 
                    <img src="{% static '/assets/images/my_folder/correct.png'%}" height="20" width="20">
                    International students can study either in Russian or English language.



                </p>
             </div>
             <div style="margin-left: 19px;" >
                <p style="color: black;"> 
                    <img src="{% static '/assets/images/my_folder/correct.png'%}" height="20" width="20">
                    After completion of the 5-year course, graduates are awarded as “Pharmacists”.


        
             </div>
             <div style="margin-left: 19px;" >
                <p style="color: black;"> 
                    <img src="{% static '/assets/images/my_folder/correct.png'%}" height="20" width="20">
                    The faculty has 100 trained specialists in the pharmaceutical department 
                    with educational, scientific and methodological achievement.



        
             </div>

            </div>
        <br/>
    </div>
    <div style="margin-left: 19px;" >
        <h4 style="color: darkblue;">
            <img src="{%static 'assets/images/my_folder/four.jpg'%}" width="50" height="50">
            Preparatory Faculty


        </h4>
            <div style="margin-left: 19px;" >
                <p style="color: black;"> 
                    <img src="{% static '/assets/images/my_folder/correct.png'%}" height="20" width="20">
                    The preparatory faculty is one of the oldest faculty of Vinnitsa National Medical University.




        
                </p>
             </div>
             <div style="margin-left: 19px;" >
                <p style="color: black;"> 
                    <img src="{% static '/assets/images/my_folder/correct.png'%}" height="20" width="20">
                    At the preparatory department, there are assistant professors, senior professors, Ph.D. are provided for counseling and teaching process.




                </p>
             </div>
             <div style="margin-left: 19px;" >
                <p style="color: black;"> 
                    <img src="{% static '/assets/images/my_folder/correct.png'%}" height="20" width="20">
                    The faculty consists of chairs: Chair of Ukrainian language and chair of natural sciences.



        
             </div>
             <div style="margin-left: 19px;" >
                <p style="color: black;"> 
                    <img src="{% static '/assets/images/my_folder/correct.png'%}" height="20" width="20">
                    The academic curriculum contains subjects of Physics, Chemistry, Biology, and Geography.


        
             </div>

            </div>
        <br/>
    </div>


    <div style="margin-left: 19px;" >
        <h4 style="color: darkblue;">
            <img src="{%static 'assets/images/my_folder/five.png'%}" width="35" height="35">
            Faculty of Post Graduation


        </h4>
            <div style="margin-left: 19px;" >
                <p style="color: black;"> 
                    <img src="{% static '/assets/images/my_folder/correct.png'%}" height="20" width="20">
                    After completion of the graduation course, one who wants to continue as a specialist, post graduation courses are available for those students in the respective fields






        
                </p>
             </div>
             <div style="margin-left: 19px;" >
                <p style="color: black;"> 
                    <img src="{% static '/assets/images/my_folder/correct.png'%}" height="20" width="20">
                    The duration of the course is about 2-years.





                </p>
             </div>
             <div style="margin-left: 19px;" >
                <p style="color: black;"> 
                    <img src="{% static '/assets/images/my_folder/correct.png'%}" height="20" width="20">
                    During the course of study, practical aspects are taught by highly qualified teaching staff.




        
             </div>
            </div>
        <br/>
    </div>
</div>
<br/>