{% load static %}
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static '/assets/images/my_folder/IMG_8439.jpg'%}" width="500" height="500" class="card-img" alt="...">
    </div>
    <div class="col-md-8" style="background-color: darkblue;color: white;">
      <div class="card-body" align="left">
        <p class="card-text">
        <h4> Who are we </h4>
        <br/>
<h5>We are organisation in ukriane india russia kryzstan belarus usa gerogia china armenia Kazakhstan Philippines Bangladesh and nepal. 
 Providing students with genuine guidence about education opportunities Abroad.</h5>
 <br/>

 <h4> Our mission </h4>
<br/>
 <h5>    Our mission is to provide legitimate information and provide constant support to the students
    until they have completed their course.</h5>

    <br/>
<h4> Core Values </h4>
<br/>
<h5>

Student and parent focus for ensuring high level of customer services.
Transparency in dealing by way of providing accurate and comprehensive information to the clientele.
Providing Timely and effective communication whenever and wherever required and needed.
To work with utmost honesty and commitment for the betterment of our student community.
Achieving Excellence in whatever we do through creativity and innovation of the services that we provide.
Never giving up on the challenges faced and consistently working to overcome them.
Providing a conducive working environment for our employees who are our assets in 
maintaining a positive work, culture and healthy interactions with our clientele.</h5>
        </p>
       
      </div>
    </div>
  </div>
</div>